#header {
    back
}
#welcome{
    background-image: url(../../../);
    width:40%;
    height:200px;
    margin-top:180px;
    border-radius: 50px 50px 50px 50px;
    margin-left:400px;
    opacity:0.9;
    color:white;}


