<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <p> User Name : <input type="text" name="username"/></p>
    <p> Password: <input type="password" name="password"/></p>
    <div><input type="submit" value="Войти"/>
    <a href="/registration"><input type="button" name="reg" value="Регистрация"></a></div>
</form>
</body>
</html>