<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        #task {
            border-radius: 50px 50px 50px 50px;
            background-color: gainsboro;
            width: 40%;
        }

        ul li {
            float: left;
            margin-left: 10px;
        }
    </style>
    <title>Список невыполненных задач</title>
</head>
<body>

<div>
    <nav class="navbar navbar-dark bg-dark" style="height: 50px;">
        <ul>
            <li><a href="/main">
                <button type="button" class="btn btn-light"> Список задач</button>
            </a></li>
            <li><a href="/listLost">
                <button type="button" class="btn btn-light">Список невыполненных задач</button>
            </a></li>
            <li><a th:href="@{/logout}">
                <button type="button" class="btn btn-light">Выйти</button>
            </a></li>
        </ul>
    </nav>
</div>
<div class="alert alert-success" role="alert">Список задач</div>
<div>
    <a href="/editor"><input type="button" name="add" class="btn btn-info" value="Добавить новую задачу"></a>
</div>

<div id="task" th:each="task : ${tasks}">
    <form th:action="@{/main/delete}" th:object="${task}" method="post">
        <input type="hidden" name="id" th:value="${task.id}">
        <div class="alert alert-warning" role="alert"><label>Название: </label>
            <p th:utext="${task.name}"></p></div>
        <div class="alert alert-info" role="alert"><label>Описание: </label>
            <p th:utext="${task.description}"></p></div>
        <div style="width:30%;float:right;" class="alert alert-danger" role="alert"><label><strong>Дата
            окончания:</strong> </label>
            <p th:text="${task.dateOfEnd}"></p></div>
        <div style="width: 30%" class="alert alert-warning" role="alert"><label><strong>Дата назначения:</strong>
        </label>
            <p th:text="${task.dateOfCreate}"></p></div>
        <p><input type="submit" class="btn btn-danger" value="Удалить"></p>
    </form>
</div>
</body>
</html>