<html xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Название"/>
        <input type="text" name="description" placeholder="Описание">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список задач</div>
<div th:each="task : ${tasks}">
    <form action="/delete" method="post">
        <div>Passed parameter : th:text="${task.id}"</div>
        <div>Passed parameter : th:text="${task.name}"</div>
        <div>Passed parameter : th:text="${task.description}"</div>
        <p><input type="button" name="delete" value="Удалить"/></p>
    </form>
</div>
</body>
</html>