<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/registration}" method="post">
    <p> User Name : <input type="text" name="username"/> </p>
    <p> Password: <input type="password" name="password"/> </p>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>